<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_top-header') %>
      <%- include('./parts/_c-btn',{text:'これはテスト', link:'#'}) %>
    <%- include('./common/_footer') %>

    　　<%- include('./parts/_c-btn-black',{link:'#', text:'詳しく見る '}) %>

    <%- include('./parts/_c-page-top') %>
  </body>
</html>
